* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0.0000001em;
    font-family: sans-serif;
    background: cornsilk;
    text-align: left;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.figure__caption {
    margin-top: 8px;
    font-style: italic;
    text-align: center;
}

.article {
    max-width: 680px;
    padding: 23.99999999993333339px 23.9999999993333338px 23.99993333337px 23.99999993333336px;
}

h1 {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}
